* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
}

main {
    height: 100vh;
    overflow-y: auto;
    
    display: flex;
    justify-content: center;
    background-image: url('assets/contabilidade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* LADO ESQUERDO */

.section-image{
    display: none;
    visibility: hidden;
}

/* LADO DIREITO */

.section-form{
    display: flex;
    justify-content: center;
}

.box-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    background-color: #FFF;
    border: 1px solid #9ca3af;
    padding: 1rem 3rem;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: clamp(6.25rem, 9vw, 15.625rem);
    height: auto; 
    max-height: 100px;
    max-width: 100%;
}

.section-form form{
    background-color: #FFF;
    margin: 1rem;
    padding: 1.5rem;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    border: 1px solid #9ca3af;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-title {
    margin-bottom: 1rem;
}

.form-title p{
    margin: auto;

    color: #1b98e0;
    font-size: 1rem;
    font-weight: normal;
}

.form-title h1{
    margin: auto;

    color: #13293d;
    font-size: 1.8rem;
    font-weight: bold;
}

.input-control {
    margin: 0.7rem 0;
    border: 1px solid #9ca3af;
    border-radius: 6px;

    font-size: 1rem;
    font-weight: normal;
}

form input[type="email"],
form input[type="password"]{
    padding: 1rem 0 1rem 1.7rem;

    color: #1b98e0;
}

form input[type="email"]::placeholder,
form input[type="password"]::placeholder{
    font-size: 1rem;
    font-weight: normal;
    color: #1b98e0;
    opacity: 0.8;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.actions a{    
    margin-top: 0.5rem;
    color: #1b98e0;
}

form button{
    padding: 1rem 0;
    
    background-color: #1b98e0;
    color: #FFF;

    cursor: pointer;
}

@media (min-width: 768px) {

    form{
        margin: 1rem;
        padding: 4rem;
        width: 24rem;
    }

    .form-title{
        margin: 0 0 2.5rem 0;
    }

    .input-control{
        margin: 0 0 2rem 0;
    }

    .actions{
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 1.5rem 0;
    }

    .actions a{
        margin-top: 0rem;
    }
}

@media (min-width: 1280px) {

    main{
        /* display: flex; */
        background-image: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .section-image{
        display: flex;
        flex: 0 0 57.5%;
        height: 100vh;
        justify-content: flex-start;
        visibility: visible;
    }

    .section-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .section-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 42.5%;
    }

    .section-form form{
        margin: 1rem;
        padding: 2rem;
        width: 28rem;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }

    .logo{
        border: none;
        background-color: transparent;
        box-shadow: 0 0px 0px;
    }

    .logo img{
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    }
}

@media (max-height: 600px) {

    .section-form {
        align-items: flex-start;
        padding-top: 1rem;
    }

    .section-form form {
        padding: 2rem;
    }

    .logo img{
        
    }


}

/* Efeitos e Transições */

.input-control,
form button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #13293d;
}

form button:active {
    transform: scale(0.98);
}

form input[type="email"],
form input[type="password"] {
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="checkbox"]:focus {
    outline: 2px solid #1b98e0;
    outline-offset: 2px;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #1b98e0;
    box-shadow: 0 0 0 3px rgba(27, 152, 224, 0.2); /* azul suave ao redor */
    outline: none;
}